
#=== Result files
python_elaboration/__pycache__

#=== Intellij gitignored files
.idea/*
log/*
target/*
*.iml

#=== Example files (to be removed at the end)
src/main/java/Arcgis/*
src/main/java/Carml/*
src/main/java/Labs/*
src/main/java/PDI/*
