
#=== Result files
resources/data/elaborated/*
python_elaboration/__pycache__

#=== Intellij gitignored files
.idea/*
target/*
stld_explore_zurich_old.iml

#=== Example files (to be removed at the end)
resources/mapping/altro/*
resources/mapping/log/*
src/main/java/Carml/*
src/main/java/Labs/*
src/main/java/PDI/*
